---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

<p>Published over 10 academic papers, including more than 5 first-author publications. Selected publications are organized below by publication type.</p>

{% include base_path %}
{% assign publication_index = 0 %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% assign first_author = post.citation | slice: 0, 10 %}
      {% if first_author != "Yuxing Zhi" %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% assign publication_index = publication_index | plus: 1 %}
      {% include archive-single.html publication_index=publication_index %}
    {% endfor %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% assign first_author = post.citation | slice: 0, 10 %}
      {% if first_author == "Yuxing Zhi" %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% assign publication_index = publication_index | plus: 1 %}
      {% include archive-single.html publication_index=publication_index %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% assign first_author = post.citation | slice: 0, 10 %}
    {% if first_author != "Yuxing Zhi" %}
      {% continue %}
    {% endif %}
    {% assign publication_index = publication_index | plus: 1 %}
    {% include archive-single.html publication_index=publication_index %}
  {% endfor %}
  {% for post in site.publications reversed %}
    {% assign first_author = post.citation | slice: 0, 10 %}
    {% if first_author == "Yuxing Zhi" %}
      {% continue %}
    {% endif %}
    {% assign publication_index = publication_index | plus: 1 %}
    {% include archive-single.html publication_index=publication_index %}
  {% endfor %}
{% endif %}



